__pycache__/
*.log

Results/*
!Results/Case_1
!Results/optimaltrajectories.npy

OpenSimModel/*
!OpenSimModel/new_model
OpenSimModel/new_model/*
!OpenSimModel/new_model/experimentalData.npy
!OpenSimModel/new_model/Model

!OpenSimModel/old_model
OpenSimModel/old_model/*
!OpenSimModel/old_model/Model

!OpenSimModel/Hamner_modified
OpenSimModel/Hamner_modified/*
!OpenSimModel/Hamner_modified/Model

!OpenSimModel/templates

data4PolynomialFitting*