__pycache__/
*.log

Results/*
!Results/Case_0_ref

OpenSimModel/*
!OpenSimModel/Hamner_modified
OpenSimModel/Hamner_modified/*
!OpenSimModel/Hamner_modified/Model
!OpenSimModel/Hamner_modified/experimentalData.npy

!OpenSimModel/Hamner_modified_stifferContacts
OpenSimModel/Hamner_modified_stifferContacts/*
!OpenSimModel/Hamner_modified_stifferContacts/Model

!OpenSimModel/Hamner_modified_weakerGluts
OpenSimModel/Hamner_modified_weakerGluts/*
!OpenSimModel/Hamner_modified_weakerGluts/Model

!OpenSimModel/templates

data4PolynomialFitting*