__pycache__/
*.log

Results/*
!Results/Case_0
!Results/Case_1
!Results/optimaltrajectories.npy

OpenSimModel/*
!OpenSimModel/Hamner_modified
OpenSimModel/Hamner_modified/*
!OpenSimModel/Hamner_modified/Model
!OpenSimModel/Hamner_modified/experimentalData.npy
!OpenSimModel/templates